body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /*background: url(http://www.petfacil.net.br/content/images/imgteste.jpeg) no-repeat center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #eaeaea;
}

body::-webkit-scrollbar {
    display: none;
}

.form-image {
    width: 45%;
    height: auto;
    float: left;
}

.form-login {
    height: 50%;
    width: 100%;
    margin-left: 5%;
    margin-top: 10%;
    float: right;
}

.header-text {
    text-align: center;
    color: #FFFFFF;
    font-size: 3.5em;
}

.input-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.h3 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 5%;
}

.link-w {
    color: #298BBC;
}

.link-w:hover {
    color: black;
}

@media (max-width:520px) {
    .link-w {
        /*color: #298BBC;*/
        color: #298BBC;
        text-decoration: none;
        margin-top: 2%;
        display: block;
    }
    .form-image {
        width: 95%;
    }
    .link-w:hover {
        /*color: #368FFF;*/
        color: black;
    }
    .btn-light {
        background: #298BBC;
        color: white;
    }
    .btn-light:hover {
        background: black;
        color: white;
    }
}

.clear {
    clear: both;
}

.text-red {
    color: red;
}

.error-login {
    width: 30%;
    margin-left: 5%;
    color: #9F6000;
    background-color: #FEEFB3;
    font-size: 1.5em;
}

@media (min-width:768px) {
    .navbar-default {
        background-color: #fff;
        border-color: rgba(255, 255, 255, .3)
    }
    .navbar-brand {
        color: #fff;
        margin-top: 5%
    }
    .container-right {
        margin-left: 50%;
        margin-right: 0
    }
    .btn-light:hover {
        background: black;
        color: white;
    }
}

/*.form-control {
    font-size: 12px;
}*/

.option-people {
    margin: 0 auto;
    margin-bottom: 6%;
    display: inline-table;
}

.form-insert {
    max-width: 100%;
}

.item-left {
    float: left;
    width: 45%;
}

.item-right {
    float: right;
    width: 45%;
}

.item-left a,
.item-right a {
    width: 100%;
}

.margem {
    margin-top: 2%;
}

.bottom {
    margin-bottom: 5%;
}

.acess {
    width: 100%;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.acess h3 {
    text-align: center;
    margin: 0;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.display-hide {
    display: none;
}

.selected {
    background-color: #F00;
}

.login-cabecalho {
    padding: 2px 0px;
}

.no-padding {
    padding: 0;
}

.text-bold {
    font-weight: bold;
}

.portfolio-box img {
    width: 100%;
    height: 16%;
}

.login-box {
    display: table;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 25%;
    max-width: 60%;
    border: 2px solid lightgray;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 5%;
    background: #fff
}

.no-pad-left {
    padding-left: 0px;
}

@media screen and (max-width: 1920px) {
    .form-insert {
        max-width: 100%;
        margin: 0 auto;
    }
    .form-image {
        max-width: 100%;
        margin: 0 auto;
    }
    .option-people {
        margin: 0 auto;
        width: 100%;
    }
    .item-left {
        width: 48%;
    }
    .item-right {
        width: 45%;
    }
    .col-5 {
        width: 85%;
    }
    #portfolio {
        margin-bottom: 5%;
    }
    .no-pad {
        padding: 0px;
    }
}


/*seletores para tablets*/

@media screen and (max-width: 768px) {
    .form-insert {
        max-width: 100%;
        margin: 0 auto;
    }
    .form-image {
        max-width: 100%;
        margin: 0 auto;
    }
    .option-people {
        margin: 0 auto;
        /*width: 85%;*/
    }
    .item-left {
        width: 48%;
    }
    .item-right {
        width: 45%;
    }
    .col-5 {
        width: 85%;
    }
    #portfolio {
        margin-bottom: 5%;
    }
    .no-pad-cel {
        padding: 0px;
        padding-top: 5px;
    }
}


/*seletores para celurares*/

@media screen and (max-width: 520px) {
    .item-left,
    .item-right {
        width: 100%;
    }
    .margem-cellphone {
        margin-bottom: 2%;
    }
    .form-insert,
    .option-people {
        max-width: 100%;
        margin: 0 auto;
    }
    .container-right,
    .container-in {
        max-width: 95%;
        margin: 0 auto;
    }
    #portfolio {
        display: none;
    }
    .login-box {
        max-width: 90%;
    }
}