.banner {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(images/humanpet.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.input-search {
    width: 70%;
    height: 100%;
    padding: 20px;
    font-size: 3.5em;
}

.img-animals { 
    width: 95%;
    height: 250px;
}

.img-animals:hover {
    opacity: 0.8;
}
