body {
    margin: 0;
}

.header {
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background: url(../../images/optimized-imgbanner2.png) no-repeat center center fixed;
    color: #fff;
    padding: 35px;
}

.section-email {
    max-width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}

.form-email {
    padding: 10px;
    max-width: 85%;
    margin: 0 auto;
    height: auto;
    padding: 15px;
}

hr.small {
    max-width: 100px;
    border-color: #53a3e8;
}

.text {
    max-width: 85%;
    margin: 0 auto;
    height: auto;
}

.link {
    text-align: center;
    background: #53a3e8;
    max-width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    border-radius: 10px;
    padding: 12px;
}

a:hover {
    color: #000;
}

.header img {
    width: 30%;
    /*float:left;*/
}

.text-white {
    color: #fff;
    font-weight: bold;
}

.clear {
    clear: both;
}

footer {
    padding: 15px 0;
    background: #dddfe0;
}

@media screen and (max-width: 520px) {
    .form-email,
    .section-email,
    .header {
        max-width: 100%;
    }
    h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 375px) {
    .form-email,
    .section-email,
    .header {
        max-width: 100%;
    }
    h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .section-email {
        max-width: 85%;
    }
    h1 {
        font-size: 25px;
    }
}